.spinner {
  align-self: center;
  justify-self: center;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

.container {
  width: 300px;
  background-color: #eee;
  text-align: center;
  padding: 27px 18px;
  margin-bottom: 27px;
}

h1 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

.info {
  max-width: 21ch;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #ddd;
  padding: 12px 24px;
  word-wrap: break-word;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

.info a {
  color: black;
}

input,
button {
  padding: 9px;
  font-size: 18px;
  margin-bottom: 9px;
}

input.full-width {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}

.login-title {
  font-size: 34px;
}

.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}
.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b;
}
.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}
.login-clean form .btn-primary {
  background-color: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: 0 !important;
}
.login-clean form .btn-primary:active,
.login-clean form .btn-primary:hover {
  background: #eb3b60;
}
.login-clean form .btn-primary:active {
  transform: translateY(1px);
}
.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-clean form .forgot:active,
.login-clean form .forgot:hover {
  opacity: 1;
  text-decoration: none;
}


.med-name {
  border-style: none;
}

.med-time {
  border-radius: 4px;border-width: 1px;border-style: none;
}

.med-input-group {
  background: rgb(247,249,252);
}

.med-input-group--reminder {
  background-color: #fbb7c4!important;
}

.med-input--reminder {
  background-color: #fee7eb!important;
}
